.container {
  height: 88rem;
  margin: 4rem 0;
  position: relative;
}

.app {
  display: flex;
  color: #16451f;
  width: 120rem;
  height: 88rem;

  justify-content: center;
  gap: 2rem;
}

.link {
  margin: 0;
}

.title {
  position: fixed;

  margin: 30rem 96rem;
  transform: translateX(-50%);

  font-size: 8rem;
  padding: 2rem 5rem;
  border-radius: 1rem;
  border: groove #55a16586;
  color: #0d2913;
  background-color: transparent;
  backdrop-filter: blur(10rem);
  z-index: 2;
}

/*  */
@media (max-width: 120em) {
  .title {
    left: 50%;
    margin: 30rem 0rem;
  }
}

@media (max-width: 75em) {
  .app {
    width: 90rem;
  }

  .link {
    width: auto;
  }
}

@media (max-width: 61em) {
  .app {
    flex-direction: column;
    width: 70rem;
    gap: 2rem;
  }

  .title {
    left: 43%;
    margin: 30rem 0rem;
  }
}

@media (max-width: 38em) {
  .title {
    left: 50%;
    margin: 30rem 0rem;
  }
}
