.container {
  height: 88rem;
  margin: 4rem 0;
  position: relative;
  display: flex;
  justify-content: center;
}

.app {
  display: flex;
  color: #16451f;
  width: 120rem;
  height: 88rem;

  justify-content: center;
  gap: 2rem;
}

.link {
  margin: 0;
}

.titleBox {
  display: flex;
  width: 25%;
  position: fixed;
  z-index: 10;
  height: 20%;
  justify-content: center;
  align-items: center;
}

.title {
  transform: translateY(100%);
  font-size: 8rem;
  padding: 2rem 5rem;
  border-radius: 1rem;
  border: groove #55a16586;
  color: #0d2913;
  background-color: transparent;
  backdrop-filter: blur(10rem);
  z-index: 2;
}

/*  */
@media (max-width: 120em) {
}

@media (max-width: 75em) {
  .app {
    width: 90rem;
  }

  .link {
    width: auto;
  }

  .title {
    left: 50%;
    margin: 20rem 0rem;
  }
}

@media (max-width: 61em) {
  .app {
    height: 100%;
    width: 100%;
    gap: 2rem;
    align-items: center;
  }

  .container {
    display: flex;
    justify-content: center;
  }

  .link {
    width: 45%;
  }
}

@media (max-width: 45em) {
  .titleBox {
    width: 25%;
  }

  .title {
    font-size: 6.5rem;
  }
}

@media (max-width: 38em) {
  .container {
    width: 70%;
  }
  .title {
    left: 50%;
    margin: 30rem 0rem;
  }

  .container {
    width: 60rem;
  }

  .app {
    width: 100%;
    flex-direction: column;
    justify-content: space-around;
  }

  .link {
    width: 60%;
  }

  .title {
    font-size: 5.5rem;
  }
}

@media (max-width: 30em) {
  .link {
    width: 80%;
  }
}
