/* main color #2b8a3e */
/* second color #eaf3ec */

.recipeDetails {
  height: 91rem;
  font-size: 5rem;
  display: flex;
  border-radius: 5rem;
  box-shadow: 0rem 1rem 1rem #9797977c;
  overflow: hidden;

  margin: 3rem;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

h4 {
  background-color: white;
  margin-top: 4rem;
  font-size: 2.5rem;
  margin-left: 3rem;
}

.recipeContainer {
  background-color: white;
  display: block;
  flex-direction: column;
  width: 50%;
  overflow: scroll;
}

.recipeContainer::-webkit-scrollbar {
  display: none;
}

.recipeIngContainer {
  background-color: transparent;
  margin-left: 2rem;
}

.recipeIng {
  margin-top: 5rem;
  margin-left: 5rem;
  list-style-type: circle;
  background-color: transparent;
  font-size: 1.5rem;
}

.recipeName {
  margin-top: 3rem;
  background-color: transparent;
  font-size: 4rem;
  font-weight: 500;
  letter-spacing: 0.7rem;
  color: #113719;
}

.recipeImgContainer {
  width: 50%;
  background-color: rgba(255, 255, 255, 0.534);
  display: flex;
  align-items: center;
  flex-direction: column;
}

.recipeImg {
  width: 85%;
  margin-top: 4rem;
  border-radius: 5rem;
}
