.listOfLists {
  list-style-type: none;
  width: 35rem;
  margin: 0;
  padding: 0;
  font-size: 2rem;
}

.listOfListsActive {
  list-style-type: none;
  width: 35rem;
  margin: 0;
  padding: 0;
  font-size: 2rem;
  background-color: #eaf3ec;
}

.list {
  display: flex;
  margin: 1.5rem 1rem;
  align-items: center;
  justify-content: space-between;
  border: 0.1rem solid #95c59f36;
  cursor: pointer;
}

.listNameCont {
  display: flex;
  padding: 1rem;
  margin: 0;
  width: 80%;
  transition: all 0.3s;
}

.listNameContActive {
  display: flex;
  padding: 1rem;
  margin: 0;
  width: 80%;
  transition: all 0.3s;
  background-color: #16451f;
  border-radius: 1rem;
}

.listNameContActive h3 {
  color: #eaf3ec;
}

.listName {
  font-size: 1.7rem;
  color: #1a5325;
}

.listNameCont:hover {
  background-color: #95c59f;
}

.list:first-child {
  margin-top: 3rem;
}

.ingContEdit {
  font-size: 3.5rem;
  margin: 0;
  display: flex;
  width: 7rem;
  color: #0000006b;
  height: 4rem;
}

.pencil {
  display: flex;
  align-items: center;
  cursor: pointer;
  width: 50%;
  border-right: 0.1rem solid #95c59f36;
  border-left: 0.1rem solid #95c59f36;
}

.pencil:hover {
  background-color: #95c59f;
}

.bin {
  display: flex;
  align-items: center;
  cursor: pointer;
  width: 50%;
}

.bin:hover {
  background-color: #95c59f;
}

.inputNewName {
  display: flex;
  font-size: 1.7rem;
  outline: none;
  border: none;
}
