.imgBox {
  transition: all 0.3s ease-out;
  opacity: 0.4;
  position: relative;
  cursor: pointer;
}

.imgBox:hover {
  scale: 105%;
  opacity: 1;
}

.img {
  width: 48rem;
  background-size: cover;
  border-radius: 1rem;
}

.enterListBtn {
  font-size: 1.8rem;
  width: 20rem;
  height: 10rem;
  color: #16451f;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translateX(-50%);
  background-color: #eaf3ec;

  border-radius: 1rem;
  transition: all 0.3s ease-out;
  cursor: pointer;
}

.enterListBtn:hover {
  background-color: #16451f;
  color: #eaf3ec;
  box-shadow: 0 0.2rem 0.7rem rgba(0, 0, 0, 0.5);
}

.enterListBtn strong {
  font-size: 3rem;
  text-shadow: 0 0.1rem 0.1rem rgba(0, 0, 0, 0.6);
}
