.listPageContainer {
  display: flex;
  width: 100%;
  height: 97rem;
}

.mealPageSwitchBox {
  width: 10%;
  overflow: hidden;
  left: 0%;
  position: absolute;
  transition: all 0.3s ease-out;
  opacity: 0.4;
}

.mealPageSwitchBox:hover {
  width: 18%;
  opacity: 1;
}

.linkBox {
  margin: 0;
  width: 20%;
}

.mealPageSwitchImg {
  height: 97rem;
}

.mealSwitchBtn {
  position: absolute;
  left: 50%;
  top: 10%;
  transform: translateX(-50%);

  font-size: 5rem;
  padding: 2rem 5rem;
  border-radius: 1rem;
  border: groove #55a16586;
  color: #0d2913;
  background-color: transparent;
  backdrop-filter: blur(10rem);
  z-index: 2;
  opacity: 1;
}

/*  */
@media (max-width: 100em) {
  .mealPageSwitchBox {
    width: 12%;
  }
}

@media (max-width: 75em) {
  .linkBox {
    width: 15%;
  }

  .mealPageSwitchBox {
    width: 8%;
  }

  .mealPageSwitchBox:hover {
    width: 13%;
  }
}

@media (max-width: 61em) {
}

@media (max-width: 45em) {
  .listPageContainer,
  .mealPageSwitchBox,
  .mealPageSwitchImg,
  .linkBox {
    height: 107rem;
  }
}

@media (max-width: 38em) {
}
