.listPageContainer {
  display: flex;
  height: 97rem;
}

.mealPageSwitchBox {
  width: 15rem;
  overflow: hidden;
  left: 0%;
  position: absolute;
  transition: all 0.3s ease-out;
  opacity: 0.4;
}

.mealPageSwitchBox:hover {
  width: 35rem;
  opacity: 1;
}

.mealPageSwitchImg {
  height: 97rem;
}

.mealSwitchBtn {
  position: absolute;
  left: 50%;
  top: 10%;
  transform: translateX(-50%);

  font-size: 5rem;
  padding: 2rem 5rem;
  border-radius: 1rem;
  border: groove #55a16586;
  color: #0d2913;
  background-color: transparent;
  backdrop-filter: blur(10rem);
  z-index: 2;
  opacity: 1;
}
