.ingredientsList {
  border-left: 0.3rem solid #eaf3ec;
  padding: 0;
  width: 115rem;
  height: 85rem;
  list-style-type: none;
  overflow: scroll;
}

.ingredientsList::-webkit-scrollbar {
  display: none;
}

.ingCont {
  display: flex;
  font-size: 2.7rem;
  margin-top: 2rem;
  margin-left: 2rem;
  border-bottom: 0.1rem solid #b4d6bb;
  width: 80%;
  justify-content: space-between;
}

.ingName {
  margin: 0;
  color: #16451f;
  margin-left: 2rem;
  width: 80%;
  cursor: pointer;
}

.ingContEdit {
  margin: 0;
  color: rgba(66, 66, 66, 0.445);
  display: flex;
  width: 13rem;
  height: 2.5rem;
  font-size: 3.8rem;
}

.pencil {
  cursor: pointer;
  transition: all 0.3s;
}

.pencil:hover {
  color: #16451f;
}

.bin {
  cursor: pointer;
}

.bin:hover {
  color: #16451f;
}

.newInput {
  display: flex;
  font-size: 1.7rem;
  outline: none;
  border: none;
  width: 80%;
  height: 2.5rem;
  padding: 0;
}
