.ingredientsList {
  border-left: 0.3rem solid #eaf3ec;
  padding: 0;
  width: 115rem;
  height: 82rem;
  list-style-type: none;
}

.ingCont {
  display: flex;
  font-size: 3rem;
}

.ingName {
  margin: 0;
}

.ingContEdit {
  margin: 0;
  color: rgba(66, 66, 66, 0.7);
}
