.ingredientsList {
  border-left: 0.3rem solid #eaf3ec;
  padding: 0;
  width: 115rem;
  height: 85rem;
  list-style-type: none;
  overflow: scroll;
}

.ingredientsList::-webkit-scrollbar {
  display: none;
}

.ingCont {
  display: flex;
  font-size: 2.7rem;
  margin-top: 2rem;
  margin-left: 2rem;
  border-bottom: 0.1rem solid #b4d6bb;
  width: 90%;
  justify-content: space-between;
  transition: all 0.05s;
}

.ingCont:hover {
  transform: scale(1.02, 1.04);
}

.ingName {
  margin: 0;
  color: #16451f;
  margin-left: 2rem;
  width: 80%;
  cursor: pointer;
  overflow: scroll;
}

.ingName::-webkit-scrollbar {
  display: none;
}

.ingContEdit {
  margin: 0;
  color: rgba(66, 66, 66, 0.445);
  display: flex;
  width: 13rem;
  height: 2.5rem;
  font-size: 3.8rem;
}

.pencil {
  cursor: pointer;
  transition: all 0.3s;
}

.pencil:hover {
  color: #16451f;
}

.bin {
  cursor: pointer;
}

.bin:hover {
  color: #16451f;
}

.newInput {
  display: flex;
  font-size: 1.7rem;
  outline: none;
  border: none;
  width: 80%;
  height: 2.5rem;
  padding: 0;
}

/*  */
@media (max-width: 100em) {
  .ingName {
    overflow: scroll;
  }
}

@media (max-width: 75em) {
}

@media (max-width: 61em) {
  .ingredientsList {
    border: 0;
    height: 37rem;
    width: 100%;
  }

  .ingCont {
    width: 95%;
  }
}

@media (max-width: 45em) {
}

@media (max-width: 38em) {
  .ingredientsList {
    height: 36.5rem;
  }
}
