.mealPageContainer {
  display: flex;
  height: 97rem;
}

.mealContainer {
  margin: 0;
  border-radius: 5rem;
  height: 97rem;
  width: 120rem;
  background-color: white;
}

.link {
  width: 15%;
}

.listPageSwitchBox {
  width: 35rem;
  overflow: hidden;

  transition: all 0.3s ease-out;
  opacity: 0.4;
  display: flex;
  margin: 0;
  padding-left: 15rem;
}

.listPageSwitchBox:hover {
  width: 35rem;
  opacity: 1;
  padding-left: 0rem;
}

.listPageSwitchImg {
  height: 97rem;
}

.listOfMealsContainer {
  margin: 0;
  width: 35rem;
  height: 97rem;
  display: flex;
  flex-direction: column;
  row-gap: 6rem;
}

.listOfMealsBtn {
  position: relative;
  height: 10rem;
  top: 3%;
  font-size: 3rem;
  border-radius: 1rem;
  transition: all 0.3s ease-out;
  padding: 2rem;

  font-weight: 530;
  box-shadow: 0 0.2rem 0.7rem rgba(0, 0, 0, 0.5);
  background-color: #113719;
  color: #d5e8d8;
  animation-name: bounce;
  animation-duration: 0.5s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-out;
  animation-direction: alternate;
  cursor: pointer;
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(-10%);
  }
}

.bounce {
  animation-name: bounce;
}

.listOfMealsBtn:hover {
  background-color: #95c59f;
  color: #113719;
}

.recipesContainer {
  display: flex;
  margin: 0;
  padding: 0;
  flex-direction: column;
  gap: 2rem;
  font-size: 5rem;
  overflow: scroll;
  height: 76rem;
}

.recipesContainer::-webkit-scrollbar {
  display: none;
}

/*  */
@media (max-width: 100em) {
  .listOfMealsContainer {
    width: 30rem;
  }

  .mealContainer {
    width: 97rem;
  }

  .listPageSwitchBox {
    width: 25rem;
    padding-left: 9rem;
  }

  .listPageSwitchBox:hover {
    width: 27rem;
    opacity: 1;
  }

  .linkBox {
    margin-right: 0;
  }
}

@media (max-width: 75em) {
  .listOfMealsContainer {
    width: 26%;
  }

  .mealContainer {
    width: 60%;
  }

  .listPageSwitchBox {
    padding-left: 10rem;
    justify-content: center;
    width: 100%;
  }

  .listPageSwitchBox:hover {
    opacity: 1;
  }

  .linkBox {
    width: 10%;
  }
}

@media (max-width: 61em) {
  .listOfMealsContainer {
    width: 30%;
  }

  .mealContainer {
    width: 50%;
  }
}

.linkBox {
  width: 8%;
}

@media (max-width: 45em) {
  .mealPageContainer {
    flex-direction: column;
  }

  .listOfMealsContainer {
    width: 100%;
    height: 55rem;
  }

  .recipesContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 40rem;
    width: 100%;
  }

  .mealContainer {
    width: 100%;
    margin: 2rem 0rem;
  }

  .listPageSwitchBox {
    padding: 0;
    height: 20rem;
    opacity: 1;
    align-items: center;
    justify-content: center;
  }

  .listPageSwitchImg {
    margin: 0;
    opacity: 0.7;
    transition: all 0.3s;
  }

  .listPageSwitchImg:hover {
    opacity: 1;
  }

  .linkBox {
    margin: 0;
    height: 20rem;
    width: 100%;
  }

  .listPageSwitchBox:hover {
    width: 100%;
  }
}

@media (max-width: 38em) {
  .linkBox {
    width: 100%;
  }

  .recipesContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 15rem;
  }
}
