.form {
  padding-top: 5rem;
  width: 120rem;
  height: 97rem;
  /* display: flex; */
  flex-direction: column;
  background-color: white;
  font-size: 5rem;
}

.form label,
.form li,
.form ul {
  background-color: transparent;
}

.itemsBox {
  list-style: none;
}
