.form {
  padding-top: 5rem;
  width: 120rem;
  height: 97rem;
  display: flex;
  flex-direction: column;
  background-color: rgba(102, 102, 102, 0.6);
  font-size: 5rem;
}

.form label,
.form li,
.form ul {
  background-color: transparent;
}

.items {
  list-style: none;
  font-size: 5rem;
}
