.importModal {
  background-color: #eaf3ecc0;
  backdrop-filter: blur(2px);
  width: 150rem;
  height: 80rem;
  position: absolute;
  z-index: 10;
  border-radius: 5rem;
  justify-content: center;
  display: flex;
  align-items: center;
}

.importContainer {
  width: 90%;
  height: 90%;
  margin: 2rem;
  border-radius: 5rem;
  border: 1rem solid white;
}
