.listContainerBox {
  margin: 0;
  width: 80%;
  border-left: 0.3rem solid #eaf3ec;
  height: 96.7rem;
}

.title {
  display: flex;
  padding: 2rem;
  justify-content: center;
  font-size: 3rem;
  color: #16451f;
  border-bottom: 0.3rem solid #eaf3ec;
}

.listNav {
  display: flex;
  justify-content: space-between;
}

.addNewBox {
  display: flex;
  align-items: center;
  width: 20rem;
  margin: 0rem 10rem;
  border: 0.1rem solid #95c59f;
  justify-content: space-between;
  border-radius: 5rem;
  background-color: #eaf3ec;
  transition: all 0.3s;
  cursor: pointer;
}

.addNewBox:hover .addNew {
  background-color: #95c59f;
}

.addNewBox h3 {
  font-size: 1.5rem;
  margin: 0;
  font-weight: 600;
  color: #16451f;
  padding-left: 1rem;
}

.newInput {
  display: flex;
  font-size: 1.4rem;
  outline: none;
  border: none;
  background-color: transparent;
  text-align: center;
}

.addNew {
  margin: 0;
  font-size: 3.5rem;
  border: 0.1rem solid #95c59f;
  border-radius: 5rem;
  padding: 0.8rem;
  color: #16451f;
  background-color: #eaf3ec;
  transition: all 0.3s;
}

.listBtnContActive {
  margin: 0;
  width: 23.6%;
  transition: all 0.3s;
  padding: 0;
}

.listBtnCont:hover {
  background-color: #eaf3ec;
}

.listBtn {
  display: flex;
  justify-content: center;
  background-color: transparent;
  border: 0rem solid transparent;
}

.listBtn h5 {
  font-size: 3.3rem;
  color: #113719;
  font-weight: 500;
  letter-spacing: 0.7rem;
  margin: 0;
}

.listContainer {
  display: flex;
}

.btnContainer {
  display: flex;
  margin: 0;
  width: 80%;
  justify-content: flex-end;
}

.btnContainer h3 {
  font-size: 1.5rem;
  margin: 0;
  font-weight: 600;
  color: #16451f;
  padding-left: 1rem;
}

.btnImport {
  display: flex;
  align-items: center;
  width: 20rem;
  margin: 0;
  border: 0.1rem solid #95c59f;
  justify-content: space-between;
  border-radius: 5rem;
  background-color: #eaf3ec;
  transition: all 0.3s;
  cursor: pointer;
}

.btnImport:hover .addNew {
  background-color: #95c59f;
}

/*  */

@media (max-width: 120em) {
}

@media (max-width: 100em) {
}

@media (max-width: 75em) {
  .listContainerBox {
    width: 85%;
  }
}

@media (max-width: 61em) {
  .listContainer {
    flex-direction: column;
  }

  .btnContainer {
    width: 90%;
  }

  .addNewBox {
    margin: 0rem 3rem;
  }

  .listNav {
    position: fixed;
    left: 15%;
    width: 85%;
    background-color: #eaf3ec;
  }

  .listBtn h5 {
    color: #16451f;
  }
}

@media (max-width: 45em) {
  .listNav {
    flex-direction: column;
    padding: 0.5rem 0rem;
  }

  .listBtnContActive {
    width: 100%;
    margin: 0rem 0rem;
  }

  .btnContainer {
    width: 100%;
    justify-content: space-around;
  }
  .addNewBox {
    margin: 0;
  }

  .listContainerBox {
    height: 100%;
  }
}

@media (max-width: 38em) {
}
