/* main color #2b8a3e */
/*#eaf3ec
  #95c59f;
  #16451f;
  #113719;*/

* {
  max-width: 193rem;
  margin: 0 auto;
  font-size: 62.5%;
  box-sizing: border-box;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
